<header class="py-2">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div><strong>{{siteName}}</strong> <span class="light">/ {{title}}</span></div>
      <div>&nbsp;</div>
      <div class="menu">
        <a href="/">home</a> &middot; <a href="/about">about</a>
      </div>
    </div>
  </div>
</header>